[gui]
	recentrepo = C:/Users/mkk14/Documents/Arduino/hardware/espressif/esp32
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = MKelly97
	email = 39316899+MKelly97@users.noreply.github.com
