<!-- Wilderness Labs - We Power Connected Things -->
<!-- Footer HTML Starts -->
<div class="container footer-main-wrap">
    <div class="row white-background">
        <div class="col-md-2 col-sm-2 col-xs-12 footer_logo footer_column">
            <a href="#"><img src="/images/White_Mountain_Footer_Logo.svg" class="footer-logo"/></a>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-6  footer_column">
            <span class="list-heading">Products</span>
            <ul class="footer-ul">
                <li><a href="/Netduino">Netduino 2 & 3</a></li>
            </ul>
        </div>
        
        <div class="col-md-2 col-sm-2 col-xs-6  footer_column">
            <span class="list-heading">Developer Center</span>
            <ul class="footer-ul">
                <li><a href="http://developer.wildernesslabs.co/Netduino/Getting_Started/">Getting Started</a></li>
                <li><a href="http://developer.wildernesslabs.co/Samples/">Samples</a></li>
            </ul>
        </div>

        <div class="col-md-2 col-sm-2 col-xs-6  footer_column">
            <span class="list-heading">Company</span>
            <ul class="footer-ul">
                <li><a href="http://blog.wildernesslabs.co">Blog</a></li>
                <li><a href="/About">About Us</a></li>
            </ul>
        </div>

        <div class="col-md-2 col-sm-2 col-xs-6  footer_column connect-items">
            <span class="list-heading">Connect</span>
            <div class="col-md-2 col-sm-2 col-xs-12">
              <ul class="footer-ul">
                <li ><a href="http://github.com/wildernesslabs">GitHub</a></li>
                <li><a href="http://community.wildernesslabs.co/">Community Forums</a></li>
                <li><a href="https://twitter.com/WLabsHQ">Twitter</a></li>
              </ul>
            </div>

            <div class="col-md-2 col-sm-2 col-xs-12">
              <ul class="footer-ul">
                <li><a href="https://www.facebook.com/netduino/">Facebook</a></li>
                <li><a href="http://stackoverflow.com/search?q=netduino">Stackoverflow</a></li>
              </ul>
            </div>
        </div>
<!-- 
        <div class="col-md-2 col-sm-2 col-xs-6  footer_column">
            <span class="list-heading">&nbsp;&nbsp;</span>
            <ul class="footer-ul">
                
            </ul>
        </div> -->
    </div>

    <div class="row brown-background">
        <div class="col-md-12 ">
            <span class="footer-copyright-txt">&copy; 2017, Wilderness Labs - We Power Connected Things</span>
        </div>
    </div>
</div>