<ul class="navigation">
    <li>Netduino</li>
    <ul>
        <li><a href="/Legacy_Netduino/Getting_Started">Getting Started</a></li>
    </ul>
    <ul>
        <li><a href="/Legacy_Netduino/About">About Netduino</></li>
        <ul>
            <li><a href="/Legacy_Netduino/About/Input_Output">IO</a></li>
            <ul>
                <li>Analog</li>
                <li>Digital</li>
                <li>PWM</li>
                <li>UART (Serial)</li>
                <li>I2C</li>
                <li>CAN</li>
                <li>SPI</li>
            </ul>
        </ul>
        <li><a href="/Legacy_Netduino/About/Updating_Firmware">Updating Firmware</a></li>
    </ul>
    <li>App Fundamentals</li>
    <ul>
        <li>.NET MicroFramework (NETMF)</li>
        <li>Networking</li>
        <li>File Storage</li>
        <li>Memory Management</li>
        <li>Peripherals</li>
            <ul>
                <li>LEDs</li>
                <li>Switches</li>
                <li>Sensors</li>
                <li>Motors</li>
                <li>Shields</li>
                <li>Bluetooth</li>
            </ul>
        <li>Sample Projects</li>
    </ul>
    <li>Product Lifecycle</li>
    <ul>
        <li>Conceptual Design</li>
        <li>Schematic Design</li>
        <li>Breadboard Prototyping</li>
        <li>PCB Design</li>
        <li>PCB Prototyping</li>
        <li>Software</li>
        <li>Industrial Design</li>
        <li><a href="/Product_Design_Lifecycle/Mass_Production">Mass Production</a></li>
        <ul>
            <li><a href="/Product_Design_Lifecycle/Mass_Production/USB_VendorIDs">USB Vendor IDs</a></li>
            <li><a href="/Product_Design_Lifecycle/Mass_Production/MAC_Addresses">MAC Addresses</a></li>
            <li><a href="/Product_Design_Lifecycle/Mass_Production/UPCs_EANs">UPCs and EANs</a></li>
            <li><a href="/Product_Design_Lifecycle/Mass_Production/Certifications">Important Certifications</a></li>
        </ul>
    </ul>
    <li>Hardware</li>
    <ul>
        <li>Overview</li>
        <li>Circuit Fundamentals</li>
        <ul>
            <li><a href="/Hardware/Circuits/OHMs_Law">OHMs Law</a></li>
            <li><a href="/Hardware/Circuits/Resistors">Resistors</a></li>
            <ul>
                <li><a href="/Hardware/Circuits/Resistors/Reading">Reading a Resistor's Value</a></li>
            </ul>
            <li><a href="/Hardware/Circuits/Capacitors">Capacitors</a></li>
            <li><a href="/Hardware/Circuits/Diodes">Diodes</a></li>
            <li><a href="/Hardware/Circuits/LEDs">LEDs</a></li>
            <ul>
                <li><a href="/Hardware/Circuits/LEDs/Driving_w_Resistor">Driving w/a Resistor</a></li>    
                <li><a href="/Hardware/Circuits/LEDs/Driving_w_PWM">Driving w/a PWM Signal</a></li>
            </ul>
        </ul>
        <li><a href="/Hardware/PCBs">Printed Circuit Board (PCB) Fundamentals</a></li>
        <ul>
            <li><a href="/Hardware/PCBs/Fabrication">PCB Fabrication</a></li>
            <li><a href="/Hardware/PCBs/Assembly">PCB Assembly</a></li>
            <li><a href="/Hardware/PCBs/Solder_Masks">Solder Masks</a></li>
            <li><a href="/Hardware/PCBs/Surface_Finishes">PCB Finishes</a></li>
            <li><a href="/"></a>Copper Thickness</li>
        </ul>
        <li>Component Fundamentals</li>
        <ul>
            <li><a href="/Hardware/Components/Component_Types">Component Types</a></li>
            <li><a href="/Hardware/Components/Packages_and_Sizes">Packages and Sizes</a></li>
            <li><a href="/Hardware/Components/Choosing_Components">Choosing Components</a></li>
        </ul>
    </ul>
</ul>
