<!--
<div class="NavHeader">Meadow</div>
<ul class="navigation">
    <li class="active"><a href="#">Getting Started</a></li>
</ul>
-->

<div class="NavHeader">Netduino</div>
<ul class="navigation">
    <!--<li class="active"><a href="/Netduino/Getting_Started">Getting Started</a></li>-->
    <li><a href="/Netduino/Getting_Started">Getting Started</a></li>
    <li><a href="/Netduino/About">About Netduino</a>
        <ul>
            <li><a href="/Netduino/About/Updating_Firmware">Updating Firmware</a></li>
           <li><a href="/Netduino/About/Downloads">Downloads</a></li>
           <li><a href="/Netduino/About/Source">Source Files</a></li>
        </ul>
    </li>
    <li><a href="/Netduino/Input_Output">IO</a>
        <ul>
            <li><a href="/Netduino/Input_Output/Analog/">Analog</a></li>
            <li><a href="/Netduino/Input_Output/Digital/">Digital</a>
                <ul>
                    <li><a href="/Netduino/Input_Output/Digital/I2C/">I2C Overview</a>
                        <ul>
                            <li><a href="/Netduino/Input_Output/Digital/I2C/Reading">Reading from an I2C Device</a></li>
                            <li><a href="/Netduino/Input_Output/Digital/I2C/Writing">Writing to an I2C Device</a></li>
                        </ul>
                    </li>
                    <li><a href="/Netduino/Input_Output/Digital/SPI/">SPI</a></li>
                    <li><a href="/Netduino/Input_Output/Digital/PWM/">PWM</a></li>
                    <li><a href="/Netduino/Input_Output/Digital/UART/">UART (Serial)</a></li>
                </ul>
            </li>
            <li><a href="/Netduino/Input_Output/Onboard_Button_+_LED/">Onboard Button and LED</a></li>
            <li><a href="/Netduino/Input_Output/File_Storage/">SD Card/File IO</a></li>
            <li><a href="/Netduino/Input_Output/Network/">Network</a></li>
        </ul>
    </li>
    <li><a href="/Netduino/Application_Fundamentals/">Application Fundamentals</a>
        <ul>
            <li><a href="/Netduino/Application_Fundamentals/NETMF/">.NET MicroFramework</a></li>
            <!--<li><a href="/Netduino/Application_Fundamentals/Memory_Management/">Memory Management</a></li>-->
        </ul>
    </li>
    <!--
    <li><a href="/Netduino/Peripherals/">Peripherals</a>
        <ul>
            <li><a href="/Netduino/Peripherals/LEDs/">LEDs</a></li>
            <li><a href="/Netduino/Peripherals/Switches/">Switches</a></li>
            <li><a href="/Netduino/Peripherals/Sensors/">Sensors</a></li>
            <li><a href="/Netduino/Peripherals/Motors/">Motors</a></li>
            <li><a href="/Netduino/Peripherals/Shields/">Shields</a></li>
            <li><a href="/Netduino/Peripherals/Relays/">Relays</a></li>
            <li><a href="/Netduino/Peripherals/Bluetooth/">Bluetooth</a></li>
        </ul>
    </li>
    -->
</ul>


<div class="NavHeader">Hardware & Circuits</div>
<ul class="navigation">
    <li><a href="/Hardware/Tutorials/">Tutorials</a>
        <ul>
            <li><a href="/Hardware/Tutorials/Electronics/">Electronics Tutorial</a>
                <ul>
                    <li><a href="/Hardware/Tutorials/Electronics/Part1/Atoms/">Part 1 - Physics of Electricity</a>
                        <ul>
                            <li><a href="/Hardware/Tutorials/Electronics/Part1/Atoms/">Atoms</a></li>
                            <li><a href="/Hardware/Tutorials/Electronics/Part1/Electrical_Current/">Electrical Current</a></li>
                            <li><a href="/Hardware/Tutorials/Electronics/Part1/Electromagnetism/">Electromagnetism</a></li>
                            <li><a href="/Hardware/Tutorials/Electronics/Part1/Review/">Review</a></li>
                        </ul>
                    </li>
                    <li><a href="/Hardware/Tutorials/Electronics/Part2/Amount_and_Force">Part 2 - Amps, Volts, and Watts</a>
                        <ul>
                            <li><a href="/Hardware/Tutorials/Electronics/Part2/Amount_and_Force">Amount &amp; Force</a></li>
                            <li><a href="/Hardware/Tutorials/Electronics/Part2/Amperage">Amperage</a></li>
                            <li><a href="/Hardware/Tutorials/Electronics/Part2/Voltage">Voltage</a></li>
                            <li><a href="/Hardware/Tutorials/Electronics/Part2/Wattage">Wattage</a></li>
                            <li><a href="/Hardware/Tutorials/Electronics/Part2/Source_Load_and_Ground">Source, Load, and Ground</a></li>
                            <li><a href="/Hardware/Tutorials/Electronics/Part2/Review">Review</a></li>
                        </ul>
                    </li>
                    <li><a href="/Hardware/Tutorials/Electronics/Part3/Current_Types">Part 3 - Current Types; AC &amp; DC</a>
                        <ul>
                            <li><a href="/Hardware/Tutorials/Electronics/Part3/Current_Types">Current Types</a></li>
                            <li><a href="/Hardware/Tutorials/Electronics/Part3/Direct_Current">Direct Current (DC)</a></li>
                            <li><a href="/Hardware/Tutorials/Electronics/Part3/Alternating_Current">Alternating Current (AC)</a></li>
                            <li><a href="/Hardware/Tutorials/Electronics/Part3/AC_Characteristics">AC Characteristics</a></li>
                            <li><a href="/Hardware/Tutorials/Electronics/Part3/Review">Review</a></li>
                        </ul>
                    </li>
                    <li><a href="/Hardware/Tutorials/Electronics/Part4/Resistance">Part 4 - Resistance &amp; Ohm's Law</a>
                        <ul>
                            <li><a href="/Hardware/Tutorials/Electronics/Part4/Resistance">Resistance &amp; Ohms</a></li>
                            <li><a href="/Hardware/Tutorials/Electronics/Part4/Ohms_Law">Ohm's Law</a></li>
                            <li><a href="/Hardware/Tutorials/Electronics/Part4/Calculating_Resistance">Calculating Simple Resistance</a></li>
                            <li><a href="/Hardware/Tutorials/Electronics/Part4/Resistor_Power_Rating">Resistor Power Rating</a></li>
                            <li><a href="/Hardware/Tutorials/Electronics/Part4/Series_Resistance">Series Resistance</a></li>
                            <li><a href="/Hardware/Tutorials/Electronics/Part4/Parallel_Resistance">Parallel Resistance</a></li>
                            <li><a href="/Hardware/Tutorials/Electronics/Part4/Reading_Resistors">Reading Resistor Values</a></li>
                            <li><a href="/Hardware/Tutorials/Electronics/Part4/Resistor_Tolerance">Resistor Tolerance</a></li>
                            <li><a href="/Hardware/Tutorials/Electronics/Part4/Review">Review</a></li>
                        </ul>
                    </li>
                    <li><a href="/Hardware/Tutorials/Electronics/Part5/DC_Circuits">Part 5 - DC Circuits</a>
                        <ul>
                            <li><a href="/Hardware/Tutorials/Electronics/Part5/DC_Circuits">DC Circuit Analysis</a></li>
                            <li><a href="/Hardware/Tutorials/Electronics/Part5/Kirchhoffs_Current_Law">Kirchhoff's Current Law</a></li>
                            <li><a href="/Hardware/Tutorials/Electronics/Part5/Kirchhoffs_Voltage_Law">Kirchhoff's Voltage Law</a></li>
                            <li><a href="/Hardware/Tutorials/Electronics/Part5/Voltage_Division">Voltage Divsion</a></li>
                            <li><a href="/Hardware/Tutorials/Electronics/Part5/Voltage_Divider">Voltage Divider Circuit</a><li>
                            <li><a href="/Hardware/Tutorials/Electronics/Part5/iCircuit">iCircuit</a></li>
                            <li><a href="/Hardware/Tutorials/Electronics/Part5/Review">Review</a></li>
                        </ul>
                    </li>
                    <!--
                    <li><a href="/Hardware/Tutorials/Electronics/PartX/Batteries">Part X - Batteries</a>
                        <ul>
                            <li><a href="/Hardware/Tutorials/Electronics/PartX/Batteries">Batteries</a></li>
                            <li><a href="/Hardware/Tutorials/Electronics/PartX/Battery_Types">Battery Types</a></li>
                            <li><a href="/Hardware/Tutorials/Electronics/PartX/Battery_Circuits">Battery Circuits</a></li>
                            <li><a href="/Hardware/Tutorials/Electronics/PartX/Battery_Resistance">Battery Resistance</a></li>
                            <li><a href="/Hardware/Tutorials/Electronics/PartX/Review">Review</a></li>
                        </ul>
                    </li>
                    -->
                    <!--
                    <li><a href="/Hardware/Tutorials/Electronics/Part5/">Part 5 - DC Circuit Basics</a></li>
                    -->
                </ul>
            </li>
            <!--
            <li><a href="/Hardware/Tutorials/PCB_Design/">PCB Design</a>
                <ul>
                    <li><a href="/Hardware/Tutorials/PCB_Design/Choosing_Components/">Choosing Components</a></li>
                </ul>
            </li>
            -->
        </ul>
    </li>
    <li><a href="/Hardware/Reference/">Reference</a>
        <ul>
            <!--<li><a href="/Hardware/Reference/Algorithms">Algorithms</a></li>-->

            <li><a href="/Hardware/Reference/Components">Components</a>
                <ul>
                    <li><a href="/Hardware/Reference/Components/Packages_and_Sizes">Packages and Sizes</a></li>
                    <li><a href="/Hardware/Reference/Components/Capacitors">Capacitors</a></li>
                    <li><a href="/Hardware/Reference/Components/Diodes">Diodes</a></li>
                    <li><a href="/Hardware/Reference/Components/LEDs">LEDs</a>
                        <ul>
                            <li><a href="/Hardware/Reference/Components/LEDs/Driving_w_PWM/">Driving with PWM</a></li>
                            <li><a href="/Hardware/Reference/Components/LEDs/Driving_w_Resistor/">Driving with a Resistor</a></li>
                        </ul>
                    </li>
                    <li><a href="/Hardware/Reference/Components/Resistors">Resistors</a>
                        <ul>
                            <li><a href="/Hardware/Reference/Components/Resistors/Reading">Reading a Resistor's Value</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="/Hardware/Reference/Peripherals">Peripherals</a>
                <ul>
                    <li><a href="/Hardware/Reference/Peripherals/Servos">Servos</a></li>
                    <li><a href="/Hardware/Reference/Peripherals/Relays">Relays</a></li>
                </ul>
            </li>

            <li><a href="/Hardware/Reference/Equations_and_Laws">Equations and Laws</a>
                <ul>
                    <!--<li><a href="/Hardware/Reference/Equations_and_Laws/Capacitance">Capacitance</a></li>-->
                    <li><a href="/Hardware/Reference/Equations_and_Laws/Voltage">Voltage</a>
                        <ul>
                            <!--<li><a href="/Hardware/Reference/Equations_and_Laws/Voltage/Division">Division</a></li>-->
                            <li><a href="/Hardware/Reference/Equations_and_Laws/Voltage/Ohms_Law">Ohm's Law</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="/Hardware/Reference/Units">Units</a>
                <ul>
                    <li><a href="/Hardware/Reference/Units/Amps">Amps</a></li>
                    <li><a href="/Hardware/Reference/Units/Volts">Volts</a></li>
                    <li><a href="/Hardware/Reference/Units/Watts">Watts</a></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

<!--
<div class="NavHeader">Product Lifecycle</div>
<ul class="navigation">
    <li><a href="/Product_Design_Lifecycle/Conceptual_Design/">Conceptual Design</a></li>
    <li><a href="/Product_Design_Lifecycle/Schematic_Design">Schematic Design</a></li>
    <li><a href="/Product_Design_Lifecycle/Breadboard_Prototyping">Breadboard Prototyping</a></li>
    <li><a href="/Product_Design_Lifecycle/Programming">Programming</a></li>
    <li><a href="/Product_Design_Lifecycle/PCBs">PCBs</a>
        <ul>
            <li><a href="/Product_Design_Lifecycle/PCBs/Prototyping">PCB Prototyping</a></li>
            <li><a href="/Product_Design_Lifecycle/PCBs/Fabrication">PCB Fabrication</a></li>
            <li><a href="/Product_Design_Lifecycle/PCBs/Assembly">PCB Assembly</a></li>
            <li><a href="/Product_Design_Lifecycle/PCBs/Solder_Masks">Solder Masks</a></li>
            <li><a href="/Product_Design_Lifecycle/PCBs/Surface_Finishes">PCB Finishes</a></li>
        </ul>
    </li>
    <li><a href="/Product_Design_Lifecycle/Industrial_Design">Industrial Design</a></li>
    <li><a href="/Product_Design_Lifecycle/Mass_Production">Mass Production</a>
        <ul>
            <li><a href="/Product_Design_Lifecycle/Mass_Production/USB_VendorIDs">USB Vendor IDs</a></li>
            <li><a href="/Product_Design_Lifecycle/Mass_Production/MAC_Addresses">MAC Addresses</a></li>
            <li><a href="/Product_Design_Lifecycle/Mass_Production/UPCs_EANs">UPCs and EANs</a></li>
            <li><a href="/Product_Design_Lifecycle/Mass_Production/Certifications">Important Certifications</a></li>
        </ul>
    </li>
</ul>
-->

<div class="NavHeader"><a href="/Samples">Sample Projects</a></div>
<ul class="navigation">
    <li><a href="/Samples/Netduino/Blinky">Blinky</a></li>
    <li><a href="/Samples/Netduino/OnboardButtonAndLed">Onboard Button + LED</a></li>
    <li><a href="/Samples/Netduino/ButtonInterruptEvents">Button Interrupt Events</a></li>
    <li><a href="/Samples/Netduino/GlitchFilter">Glitch Filtering</a></li>
    <li><a href="/Samples/Netduino/DrivingLED_w_PWM/">LED w/PWM</a></li>
    <li><a href="/Samples/Netduino/RgbLed/">RGB LED</a></li>
    <li><a href="/Samples/Netduino/RGB_Blinky/">RGB Blinky LED</a></li>
    <li><a href="/Samples/Netduino/PotentiometerControlled_RgbLed/">RGB LED with Potentiometer</a></li>
    <li><a href="/Samples/Netduino/SDCardIO/">SD Card IO</a></li>
    <li><a href="/Samples/Netduino/WebRequest/">Web Request</a></li>
</ul>
