<div class="NavHeader">Netduino</div>
<ul class="navigation">
    <li class="active"><a href="/Legacy_Netduino/Getting_Started">Getting Started</a></li>
    <li><a href="/Legacy_Netduino/About">About Netduino</a>
        <ul>
            <li><a href="/Legacy_Netduino/About/Input_Output">IO</a>
                <ul>
                    <li><a href="/Legacy_Netduino/About/Input_Output/Analog/">Analog</a></li>
                    <li><a href="/Legacy_Netduino/About/Input_Output/Digital/">Digital</a></li>
                    <li><a href="/Legacy_Netduino/About/Input_Output/PWM/">PWM</a></li>
                    <li><a href="/Legacy_Netduino/About/Input_Output/UART/">UART (Serial)</a></li>
                    <li><a href="/Legacy_Netduino/About/Input_Output/I2C/">I2C</a></li>
                    <li><a href="/Legacy_Netduino/About/Input_Output/CAN/">CAN</a></li>
                    <li><a href="/Legacy_Netduino/About/Input_Output/SPI/">SPI</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li><a href="/Legacy_Netduino/About/Updating_Firmware">Updating Firmware</a></li>
</ul>

<div class="NavHeader">App Fundamentals</div>
<ul class="navigation">
    <li><a href="/Application_Fundamentals/NETMF/">.NET MicroFramework</a></li>
    <li><a href="/Application_Fundamentals/Networking/">Networking</a></li>
    <li><a href="/Application_Fundamentals/File_Storage/">File Storage</a></li>
    <li><a href="/Application_Fundamentals/Memory_Management/">Memory Management</a></li>
    <li><a href="/Application_Fundamentals/Peripherals/">Peripherals</a>
        <ul>
            <li><a href="/Application_Fundamentals/Peripherals/LEDs/">LEDs</a></li>
            <li><a href="/Application_Fundamentals/Peripherals/Switches/">Switches</a></li>
            <li><a href="/Application_Fundamentals/Peripherals/Sensors/">Sensors</a></li>
            <li><a href="/Application_Fundamentals/Peripherals/Motors/">Motors</a></li>
            <li><a href="/Application_Fundamentals/Peripherals/Shields/">Shields</a></li>
            <li><a href="/Application_Fundamentals/Peripherals/Relays/">Relays</a></li>
            <li><a href="/Application_Fundamentals/Peripherals/Bluetooth/">Bluetooth</a></li>
        </ul>
    </li>
</ul>

<div class="NavHeader">Hardware</div>
<ul class="navigation">
    <li><a href="/Hardware/Overview/">Overview</a></li>
    <li><a href="/Hardware/Circuits/">Circuit Fundamentals</a>
        <ul>
            <li><a href="/Hardware/Circuits/OHMs_Law">OHMs Law</a></li>
            <li><a href="/Hardware/Circuits/Resistors">Resistors</a>
                <ul>
                    <li><a href="/Hardware/Circuits/Resistors/Reading">Reading a Resistor's Value</a></li>
                </ul>
            </li>
            <li><a href="/Hardware/Circuits/Capacitors">Capacitors</a></li>
            <li><a href="/Hardware/Circuits/Diodes">Diodes</a></li>
            <li><a href="/Hardware/Circuits/LEDs">LEDs</a>
                <ul>
                    <li><a href="/Hardware/Circuits/LEDs/Driving_w_Resistor">Driving w/a Resistor</a></li>    
                    <li><a href="/Hardware/Circuits/LEDs/Driving_w_PWM">Driving w/a PWM Signal</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li><a href="/Hardware/Components/">Component Fundamentals<a/>
        <ul>
            <li><a href="/Hardware/Components/Component_Types">Component Types</a></li>
            <li><a href="/Hardware/Components/Packages_and_Sizes">Packages and Sizes</a></li>
            <li><a href="/Hardware/Components/Choosing_Components">Choosing Components</a></li>
        </ul>
    </li> 
</ul>

<div class="NavHeader">Product Lifecycle</div>
<ul class="navigation">
    <li><a href="/Product_Design_Lifecycle/Conceptual_Design/">Conceptual Design</a></li>
    <li><a href="/Product_Design_Lifecycle/Schematic_Design">Schematic Design</a></li>
    <li><a href="/Product_Design_Lifecycle/Breadboard_Prototyping">Breadboard Prototyping</a></li>
    <li><a href="/Product_Design_Lifecycle/Programming">Programming</a></li>
    <li><a href="/Product_Design_Lifecycle/PCBs">PCBs</a>
        <ul>
            <li><a href="/Product_Design_Lifecycle/PCBs/Prototyping">PCB Prototyping</a></li>
            <li><a href="/Product_Design_Lifecycle/PCBs/Fabrication">PCB Fabrication</a></li>
            <li><a href="/Product_Design_Lifecycle/PCBs/Assembly">PCB Assembly</a></li>
            <li><a href="/Product_Design_Lifecycle/PCBs/Solder_Masks">Solder Masks</a></li>
            <li><a href="/Product_Design_Lifecycle/PCBs/Surface_Finishes">PCB Finishes</a></li>
        </ul>
    </li>
    <li><a href="/Product_Design_Lifecycle/Industrial_Design">Industrial Design</a></li>
    <li><a href="/Product_Design_Lifecycle/Mass_Production">Mass Production</a>
        <ul>
            <li><a href="/Product_Design_Lifecycle/Mass_Production/USB_VendorIDs">USB Vendor IDs</a></li>
            <li><a href="/Product_Design_Lifecycle/Mass_Production/MAC_Addresses">MAC Addresses</a></li>
            <li><a href="/Product_Design_Lifecycle/Mass_Production/UPCs_EANs">UPCs and EANs</a></li>
            <li><a href="/Product_Design_Lifecycle/Mass_Production/Certifications">Important Certifications</a></li>
        </ul>
    </li>
</ul>
