.navbar-text { color: #eeeeee;}
.navbar-default{opacity: 0;}
.navbar-inverse {background-color: #555555; border-color: #555555;}
.navbar-nav>li>a{font-size: 1.7em; font-family: 'Roboto', Helvetica, Arial, sans-serif;}
.navbar-inverse .navbar-nav>li>a,.navbar-inverse .navbar-text{color:#eeeeee}
.navbar-inverse .navbar-brand{color:#9d9d9d; margin: 0 2em;}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:focus,.navbar-inverse .navbar-nav>.active>a:hover{color:#fff;background-color:transparent}
body{font-family:Arial; font-size:14px;line-height:1.42857143;color:#000000}
header .navbar { padding: 1em 0; color: #eeeeee;}