$color-light: #fcfdfd;
$color-dark: #514740;
$color-light-grey: #9A9999;
$color-light-blue: #E3F4FB;
$color-dark-grey: #353535;
$color-orange: #f28d53;
$color-table-green: #7bc18e;
$color-brown: #524740;
// colors for developers page
$color-column-grey: #eee;
$color-orange: #B35E2C;
$color-dark-border: #7D7D7D;
$left-col-spacing: 5%;
$left-col-spacing-mobile: 5%;
 