//WL Colors
$color-brown-light2: #bd4d34;
$color-brown-light: #675130;
$color-brown: #3c3424;
$color-dark-brown: #1d180e;

$color-orange: #EF7D3B;
$color-dark-orange: #be4d34;
$color-light-orange: #efe5dc;

$color-green: #b0b436;
$color-light-green: #fbfbe7;
$color-dark-green: #788700;

$color-blue: #12bbf3;
$color-light-blue: #A3DCF3;
$color-light-blue2: #d3edf9;
$color-mid-blue: #0089c4;
$color-dark-blue: #20252a;
$color-grey-blue: #2d3339;

$color-off-white: #edeff0;
$color-almost-white: #f6f7f7;
$color-grey: #cfcfcf;
$color-dark-grey: #d7d3d0;
$color-light-grey: #faf6f0;

$color-beige: #eee5dd;
