/*
  Font Declarations
*/

@font-face {
  font-family:"Wavehaus-Book";
  src: url("wavehaus/wavehaus-66book.eot");
  src: local("☺"),
	   url("wavehaus/wavehaus-66book.woff2") format("woff2"),
       url("wavehaus/wavehaus-66book.woff") format("woff"),
       url("wavehaus/wavehaus-66book.ttf") format("truetype"),
       url("wavehaus/wavehaus-66book.svg#wavehaus-66book") format("svg"),
       url("wavehaus/wavehaus-66book.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family:"Wavehaus-Bold";
  src: url("wavehaus/wavehaus-128bold.eot");
  src: local("☺"),
	   url("wavehaus/wavehaus-128bold.woff2") format("woff2"),
       url("wavehaus/wavehaus-128bold.woff") format("woff"),
       url("wavehaus/wavehaus-128bold.ttf") format("truetype"),
       url("wavehaus/wavehaus-128bold.svg#Wavehaus-128bold") format("svg"),
       url("wavehaus/wavehaus-128bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:"Wavehaus-ExtraBold";
  src: url("wavehaus/wavehaus-158extrabold.eot");
  src: local("☺"),
	   url("wavehaus/wavehaus-158extrabold.woff2") format("woff2"),
       url("wavehaus/wavehaus-158extrabold.woff") format("woff"),
       url("wavehaus/wavehaus-158extrabold.ttf") format("truetype"),
       url("wavehaus/wavehaus-158extrabold.svg#Wavehaus-158extrabold") format("svg"),
       url("wavehaus/wavehaus-158extrabold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:"MrsEaves-Roman";
  src: url("mrseaves/mrseavesot-roman.eot");
  src: local("☺"),
	   url("mrseaves/mrseavesot-roman.woff2") format("woff2"),
       url("mrseaves/mrseavesot-roman.woff") format("woff"),
       url("mrseaves/mrseavesot-roman.ttf") format("truetype"),
       url("mrseaves/mrseavesot-roman.svg#MrsEavesOT-Roman") format("svg"),
       url("mrseaves/mrseavesot-roman.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-variant-ligatures: discretionary-ligatures;
}


@font-face {
  font-family:"MrsEaves-Bold";
  src: url("mrseaves/mrseavesot-bold.eot");
  src: local("☺"),
	   url("mrseaves/mrseavesot-bold.woff2") format("woff2"),
       url("mrseaves/mrseavesot-bold.woff") format("woff"),
       url("mrseaves/mrseavesot-bold.ttf") format("truetype"),
       url("mrseaves/mrseavesot-bold.svg#MrsEavesOT-Bold") format("svg"),
       url("mrseaves/mrseavesot-bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-variant-ligatures: discretionary-ligatures;
}