@inherits Chloroplast.Core.Rendering.ChloroplastTemplateBase<Chloroplast.Core.Rendering.RenderedContent>
@* @await PartialAsync("Docs/menu.md") *@
<section id="homepage" class="content">
    <div class="content-banner primary">
        <div class="content-left">
          <h2>Default</h2>
          <p>Get up and running with the Meadow Getting Started Guides. Setup your development environment, configure your Meadow dev kit, and deploy your first application.</p>
          <a href="#">Get Started</a>
        </div>
    </div>
    <div class="content-body">
      <div class="content-section">
        <h2 class="border content-primary">Meadow</h2>
        <p class="content-primary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed metus dui adipiscing nunc commodo at et in. Aliquam, ultrices arcu nulla at eget ultrices ultricies rhoncus, vitae.</p>
        <div class="cards triple">
          <div class="card orange">
            <div class="image">
              <img src="/assets/images/homepage/card-meadow-apps.png" aria-hidden="true" alt=""/>
            </div>
            <div class="content">
              <h3>Meadow apps</h3>
              <ul class="vertical flat">
                <li><a href="#">Downloads</a></li>
                <li><a href="#">Events & iObservable</a></li>
                <li><a href="#">Release notes</a></li>
              </ul>
            </div>
          </div>
          <div class="card orange">
            <div class="image">
              <img src="/assets/images/homepage/card-network.png" aria-hidden="true" alt=""/>
            </div>
            <div class="content">
              <h3>Network</h3>
              <ul class="vertical flat">
                <li><a href="#">File System</a></li>
              </ul>
            </div>
          </div>
          <div class="card orange">
            <div class="image">
              <img src="/assets/images/homepage/card-input-output.png" aria-hidden="true" alt=""/>
            </div>
            <div class="content">
              <h3>Input/Output (I/O)</h3>
              <ul class="vertical flat">
                <li><a href="#">Analog.Digital.PWM</a></li>
                <li><a href="#">Protocols: 12C,SPI,Serial Power</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="content-section">
        <h2 class="content-primary border">Meadow</h2>
        <p class="content-primary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed metus dui adipiscing nunc commodo at et in. Aliquam, ultrices arcu nulla at eget ultrices ultricies rhoncus, vitae.</p>
        <div class="cards triple">
          <div class="card blue">
            <h3 class="border"><a class="blue arrow" href="#">Getting Started</a></h3>
            <p>Short sentence about getting started</p>
            <ul class="horizontal flat">
              <li><a href="#">Link #1</a></li>
              <li><a href="#">Link #2</a></li>
            </ul>
          </div>
          <div class="card blue">
            <h3>Peripheral driver library</h3>
            <p>Short sentence about getting started</p>
            <ul class="horizontal flat">
              <li><a href="#">Link #1</a></li>
              <li><a href="#">Link #2</a></li>
            </ul>
          </div>
          <div class="card blue">
            <h3>Library + Frameworks</h3>
            <p>Short sentence about getting started</p>
            <ul class="horizontal flat">
              <li><a href="#">Link #1</a></li>
              <li><a href="#">Link #2</a></li>
            </ul>
          </div>
        </div>
      </div>
        <div class="content-section">
        <div class="cards double">
          <div class="card padded grey edge-blue">
            <h3>Electronics tutorial</h3>
            <p>New to electronics? Wanna learn the difference between voltage and current? Take a dive into electronics the easy way with our electronics tutorial.</p>
            <ul class="horizontal flat">
              <li><a class="blue arrow" href="#">Start tutorial</a></li>
            </ul>
          </div>
          <div class="card padded light-grey">
            <h3>Netduino 3</h3>
            <p>New to electronics? Wanna learn the difference between voltage and current? Take a dive into electronics the easy way with our electronics tutorial.</p>
            <ul class="horizontal flat">
              <li><a href="#">Getting started</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Netduino.Foundation</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="content-banner full">
      <picture>
        <source media="only screen and (max-width: 768px)" srcset="/assets/images/homepage/dev-camp-temp-mobile.png">
        <source media="only screen and (min-width: 769px) and (max-width: 1025px)" srcset="/assets/images/homepage/dev-camp-temp-tablet.png">
        <img src="/assets/images/homepage/dev-camp-temp-desktop.png" alt="Dev Camp Placeholder">
      </picture>
    </div>
    <div class="content-body">
      <div class="events">
        <h3>Join us at these upcoming virtual events</h3>
        <table class="events">
          <thead class="visually-hidden">
            <tr>
              <th>Event Name</th>
              <th>Event Date</th>
              <th>Registration Link</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Event name</td>
              <td>1/1/2022</td>
              <td><a class="blue arrow" href="#">Reserve a spot</a></td>
            </tr>
            <tr>
              <td>Event name</td>
              <td>1/2/2022</td>
              <td><a class="blue arrow" href="#">Reserve a spot</a></td>
            </tr>
            <tr>
              <td>Event name</td>
              <td>1/3/2022</td>
              <td><a class="blue arrow" href="#">Reserve a spot</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="content-banner projects">
      <div class="content-panel">
        <h2>Use our sample projects at Hackster.io to start building your projects today.</h2>
        <a href="#">See our projects</a>
      </div>
    </div>
</section>