@inherits Chloroplast.Core.Rendering.ChloroplastTemplateBase<Chloroplast.Core.Rendering.RenderedContent>
@await PartialAsync("docs/Meadow/menu.md")
<section class="content">
    <h2>Meadow!</h2>
    <h3>@Model.GetMeta("title")</h3>
    @if (@Model.HasMeta("subtitle"))
    {
        <h4>@Model.GetMeta("subtitle")</h4>
    }
    @Raw(Model.Body)
</section>