@inherits Chloroplast.Core.Rendering.ChloroplastTemplateBase<Chloroplast.Core.Rendering.EcmaXmlContent<Chloroplast.Core.Loaders.EcmaXml.Namespace>>
@* @await PartialAsync("Docs/menu.md") *@
<section id="homepage" class="content">
    <div class="content-body">
      <div class="content-section">
        <h2 class="border content-primary">namespace placeholder</h2>
        
      </div>
    </div>
</section>