@inherits Chloroplast.Core.Rendering.ChloroplastTemplateBase<Chloroplast.Core.Rendering.EcmaXmlContent<Chloroplast.Core.Loaders.EcmaXml.Namespace>>
@await PartialAsync(Model.Node.MenuPath)
<section class="content">
    <div class="content-body">
      <div class="content-section">
        <h2 class="border content-primary">namespace @Model.Element.Name</h2>
        <p>@Model.Element.Summary</p>
      </div>
    </div>
</section>