/* ========================================= 
   Aside
   ========================================= */

.interior-content aside {
  line-height: 1.4;
  background: $light-gray;
  padding: 3em 0;
  float: left;
  width: 25%;
  position: relative;
  left: 2px;
  border-right: 2px solid $gray;

  &:before {
    content: '';
    position: absolute;
    background: $light-gray;
    height: 100%;
    top: 0;
    width: 100%;
    left: -100%;
    z-index: -100;
  }

  &:after {
    content: '';
    position: absolute;
    background: $light-gray;
    height: 1000%;
    top: 100%;
    width: 200%;
    left: -100%;
    z-index: -100;
  }

  div:not(.mobile-toggle--aside):not(.mobile-toggle--aside-alt) {
    background: $gray-brown;
    font-weight: 300;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-size: 27px;
    line-height: 34px;
    color: white;
    padding: 3px 15px 3px 0;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      background: $gray-brown;
      height: 100%;
      top: 0;
      width: 100%;
      left: -100%;
      z-index: 200;
    }

    &:after {
      @include mq(desktop-tween, 'max-width') {      
        content: '';
        position: absolute;
        background: $gray-brown;
        height: 100%;
        top: 0;
        width: 100%;
        right: -100%;
        z-index: 200;
      }
    }
  }

  div:not(.mobile-toggle--aside):not(.mobile-toggle--aside-alt) a {
    color: white;
    &:hover {
      color: $primary;
    }
  }

  a {
    &:hover {
      color: $primary;
    }
  }

  ul {
    padding: 4px 0;
    margin: 0;
  }

  ul ul {
    padding-left: .4em;
  }

  ul > li,
  ul > li a {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    color: $gray;
  }

  ul > li > ul li,
  ul > li > ul li a {
    font-weight: 300;
    font-size: 22px;
    line-height: 27px;
    font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  }

  li {
    padding: 2px 15px 2px 0;
    list-style-type: none;
  }
}

@include mq(desktop-tween, 'max-width') {
  .interior-content aside { position: absolute; padding: 1.5em 0; border-bottom: 1px solid #23abe3; left: 0; right: 0; width: 100%; height: 49px; overflow: hidden; transition: .15s ease all; border-right: none; left: 0; }
  .interior-content aside ul.top-level:first-of-type { margin-top: 3em; }
  .interior-content .main { width: 100%; padding-left: 0; border-left: none; padding-top: 5em; }
  
  .mobile-toggle--aside,
  .interior-content aside.is-open .mobile-toggle--aside-alt { display: block; }
  .interior-content aside.is-open { height: auto; background: #fff; padding: 1.5em 9% 3em; left: 0; box-shadow: 0 2px 8px rgba(0, 0, 0, .15); }
}