/* ========================================= 
   Layout
   ========================================= */

.container {
  margin: 0 auto;
  width: 94%;
  max-width: 1240px;

  @include mq(desktop, 'max-width') {
    width: 90%;
  }
  
  @include mq(desktop-wide, 'max-width') {
    width: 82%;
  }
}

.row {
  margin: 0 -15px;
}

.col {
  float: left;
  padding: 0 15px;
}

.col-1-10   { width: 10%; }
.col-2-10   { width: 20%; }
.col-3-10   { width: 30%; }
.col-4-10   { width: 40%; }
.col-5-10   { width: 50%; }
.col-6-10   { width: 60%; }
.col-7-10   { width: 70%; }
.col-8-10   { width: 80%; }
.col-9-10   { width: 90%; }
.col-10-10  { width: 100%; }

.col-4-10,
.col-6-10 {
  @include mq(desktop, 'max-width') {
    width: 50%;
  }
}

.col-1-10,
.col-2-10,
.col-3-10,
.col-4-10,
.col-5-10,
.col-6-10,
.col-7-10,
.col-8-10,
.col-9-10,
.col-10-10 {
  @include mq(tween, 'max-width') {
    width: 100%;
  }
}

