/* ========================================= 
   Tables
   ========================================= */

table {
  border: 2px solid #555555;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1.5em;
}

th, td {
  padding: .4em;
}

th {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  text-align: left;
  color: white;
  background: #555555;
}

td {
  border: 2px solid #555555;
  font-size: 1.25em;
  color: $gray-brown;

  &:first-child {
    font-family: 'CourierPrime',  sans-serif;
  }
}

tbody tr:nth-child(even) {
   background-color: #eee;
}
