/* ========================================= 
   Buttons 
   ========================================= */

.btn {
  cursor: pointer;
  display: inline-block;
  border: 1px solid $gray-brown;
  padding: .25em 1em;
  color: $light-brown;
  font-size: 28px;
  font-weight: 300;
  border-radius: 5px;
}

a.btn--white {
  color: white;
  border: 1px solid white;

  .stripe--c & {
    color: white;
    border: 1px solid white;

    &:hover {
      color: $gray;
    }
  }
}