/* ========================================= 
   Buttons 
   ========================================= */

.btn {
  display: inline-block;
  border: 1px solid $gray-brown;
  padding: .25em 1em;
  color: $light-brown;
  font-size: 28px;
  border-radius: 5px;
}