/* ========================================= 
   Helpers
   ========================================= */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.no-list-style {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
 
.show-desktop     { display: block; }
.show-tablet-lg   { display: none; }
.show-tablet      { display: none; }
.show-mobile      { display: none; }

.hide-desktop     { display: block; }
.hide-tablet-lg   { display: block; }
.hide-tablet      { display: block; }
.hide-mobile      { display: block; }

@media only screen and (max-width: 1024px) {
  .show-desktop { display: block; }
  .hide-desktop { display: none; }
}

@media only screen and (max-width: 960px) {
  .show-tablet-lg { display: block; }
  .hide-tablet-lg { display: none; }
}

@media only screen and (max-width: 960px) {
  .show-tablet  { display: block; }
  .hide-tablet  { display: none; }
}

@media only screen and (max-width: 640px) {
  .show-mobile  { display: block; }
  .hide-mobile  { display: none; }
}