/* ========================================= 
   Helpers
   ========================================= */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.no-list-style {
  margin: 0;
  padding: 0;
  list-style-type: none;
}