/* ========================================= 
   Theme
   ========================================= */

.stripe {
  padding: 3em 0;
}

.stripe--a {
  background: $light-gray;
}

.stripe--b {
  background: white;
}