/* ========================================= 
   Variables
   ========================================= */

$primary:       #23abe3;

$gray-brown:    #524740;
$light-gray:    #eeeeee;
$light-brown:   #b09679;