h1
    font-family: "Wavehaus-Bold"
    font-size: 60px
    letter-spacing: 4px

.content__home--primary p
    font-size: 48px
    font-family: "Wavehaus-Bold"
    letter-spacing: 4px
    line-height: 52px
    @include breakpoint(mobile)
        font-size: 26px
        line-height: 36px
        letter-spacing: 2px
h2
    font-family: "Wavehaus-Bold"
    font-size: 48px
    line-height: 60px
    letter-spacing: 2px
    @include breakpoint(mobile)
        font-size: 36px
        line-height: 42px

h3 
    font-family: "MrsEaves-Bold"
    font-size: 24px

p, a, li, button, input
    font-family: "MrsEaves-Roman"
    font-size: 21px
    letter-spacing: 0.5px

.nav__main a, input, #submit__newsletter, .list__nav li, .list__nav li a, .text-danger
    font-family: "Wavehaus-Book"
    font-size: 18px
    letter-spacing: 1px

.copyright__footer p
    font-family: "Wavehaus-Book"
    font-size: 14px

.form-group, .form-group a, .form-check, .link-group a
    font-family: "Wavehaus-Book"
    font-size: 16px
    letter-spacing: 1px

.cta-button, .content-carousel-controls .dot
    font-family: "Wavehaus-Bold"
    letter-spacing: 2px
    font-size: 18px

#close__nav, .double-num li::before, .content__section h2, .steps .info, .cta
    font-family: "Wavehaus-Bold"
    color: $color-brown

.newsletter__footer h2 
    font-family: "Wavehaus-Bold"
    font-size: 48px
    line-height: 54px
    letter-spacing: 5px
    @include breakpoint(mobile desktop-small)
        font-size: 42px
        letter-spacing: 2px
        line-height: 54px

.cta-banner
    font-family: "Wavehaus-ExtraBold"
    font-size: 21px
    letter-spacing: 1.31px

.parsley-errors-list li
    font-size: 14px
    letter-spacing: 1px
    font-family: "Wavehaus-Book"

.caption
    font-size: 24px
    font-family: "Wavehaus-Bold"
    @include breakpoint(mobile)
        font-size: 18px
    