
@import '~svg-spritemap-webpack-plugin/iconmap.scss'

.icon
  display: inline-block
  background-size: contain

.arrow
  &-orange
    @include sprite('orange-arrow')

.logo-header
  width: 43px
  height: 23px
  background: url('/assets/svgs/icons/logo-header.svg') left top no-repeat
  background-size: contain

.pencil
  width: 18px
  height: 18px
  background: url('/assets/svgs/icons/pencil.svg') left top no-repeat
  background-size: contain

.hamburger
  background: url('/assets/svgs/icons/hamburger.svg') left top no-repeat
  width: 24px
  height: 24px
  background-size: contain

.close
  background: url('/assets/svgs/icons/close-button.svg') left top no-repeat
  width: 24px
  height: 24px
  border: none

.copy
  background: url('/assets/svgs/icons/copy.svg') left top no-repeat
  width: 17px
  height: 17px
  border: none

.theme-light
  .darkmode
    background: url('/assets/svgs/icons/dark-mode-dark.svg') left top no-repeat
    width: 45px
    height: 45px
    background-size: contain
    border: none

.theme-dark
  .darkmode
    background: url('/assets/svgs/icons/dark-mode-light.svg') left top no-repeat
    width: 45px
    height: 45px
    background-size: contain
    border: none