/* Media Query Configuration */
$media_queries: (
  "mobile": "only screen and (max-width: 768px)",
  "tablet": "only screen and (min-width: 769px) and (max-width: 1024px)",
  "desktop-small": "only screen and (min-width: 769px) and (max-width: 1200px)",
  "desktop-large": "only screen and (min-width: 1200px)",
  "desktop-xl": "only screen and (min-width: 1440px)",
  "desktop": "only screen and (min-width: 992px)",
  "retina2":
    "only screen and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)",
  "retina3":
    "only screen and (-webkit-min-device-pixel-ratio: 3) and (min-resolution: 288dpi)",
  "landscape": "screen and (orientation:landscape) ",
  "portrait": "screen and (orientation:portrait) ",
  "page1440": "only screen and (min-width: 769px) and (max-width: 1440px)",
);

@mixin breakpoint($breakpoints) {
  $conditions: ();
  @each $breakpoint in $breakpoints {
    // If the key exists in the map
    $conditions: append(
      $conditions,
      #{inspect(map-get($media_queries, $breakpoint))},
      comma
    );
  }

  @media #{$conditions} {
    @content;
  }
}
