body.scrolled 
  .nav-main-wrapper
    border-bottom: 1px solid #12BBF3

nav ul 
  margin: 0
  padding: 0
  li 
    list-style-type: none
    display: inline-block
  a
    font-family: "Wavehaus-Book"
    font-size: 18px
    letter-spacing: 1px
    color: #675130

.nav-main-wrapper
  padding: 1.875em 1em 1.875em
  position: fixed
  width: 100%
  top: 0
  z-index: 100000
  
  .nav-main-inside
    display: flex
    width: 924px
    margin: 0 auto
    @include breakpoint(mobile tablet)
      margin: 0
  .logo-header
      display: block
      position: relative
      left: 5px
  .nav-main
    ul
      li
        margin-left: 1.5em
    @include breakpoint(mobile tablet)
      display: none
  .hamburger 
    position: absolute
    right: 1em
    top: 35px
    border: none
    z-index: 10
    display: none
    @include breakpoint(mobile tablet) 
      display: block
  .darkmode 
    position: absolute
    right: 1em
    top: 1.3em
    @include breakpoint(mobile tablet)
    right: 3.3em
                

.nav-secondary-wrapper
  margin-top: 87px
  ul
    padding-left: 1em
    display: flex
    flex-wrap: wrap
    margin: 0 
    padding: 0
    li
      a
        display: block
        padding: 1.188em 1em

        &:hover, &:focus
          color: #F88909
      &.active
        a
          background: #F88909
          color: #fff 
      @include breakpoint(desktop-small)
        margin-right: 0.5em
        a
          font-size: 16px
          padding: 1.188em 0.4em

.nav-accordion
  &.fixed-element
    width: 16.7%  
  a 
    text-decoration: none
    font-family: "Wavehaus-Book"
    border-left: 2px solid #EDEFF0

  .primary
    font-family: "Wavehaus-Book"
    font-size: 17px
    border-bottom: 0.5px solid #D7D3D0
    height: 46px
    padding: 0.8em 2.1em
    line-height: 19px
    display: block
      
  .has-submenu
    position: relative
    &::before
      content: " ";
      background: url('/assets/svgs/icons/orange-arrow.svg') no-repeat
      width: 10px
      height: 10px
      position: absolute
      right: 1.2em
      top: 1em
      transform: rotate(180deg)
    &.active
      &::before 
        transform: rotate(0deg)
        top: 1.2em

  /* Tier 1 of Accordion */
  $sublink-padding-vertical: 5px

  li
    list-style-type: none
    a
      padding: $sublink-padding-vertical 2.1em
    /* Tier 2 Wrapper */
    ul
      border-bottom: none
      &.active 
        border-bottom: 0.5px solid #D7D3D0
      li
        // padding: 0.3em 1.8em 0
        &:first-child
          margin-top: 10px
        &:last-child
          margin-bottom: 10px

        /* Tier 3 Wrapper */
        ul 
          &.active 
            border-bottom: none
          li 
            &:first-child, &:last-child
              margin-top: 0
              margin-bottom: 0
            a
              padding: $sublink-padding-vertical 3.2em
            li
              a
                padding: $sublink-padding-vertical 5em
      a
        display: block
        &.has-submenu
          &::before
            display: inline-block
            transform: rotate(90deg)
            position: relative
            left: 0
            top: 0
            margin-right: 8px
          &.active::before
            transform: rotate(180deg)
            top: 0
          &.active
            font-family: "Wavehaus-Bold"
\\

      
#mobile__nav
  position: fixed
  width: 100%
  height: 100%
  background: #FF8E0D
  z-index: 10001
  opacity: 0
  transition: opacity 1000ms
  padding-top: $gutter-screen
  .nav-main
    padding: $gutter-screen
    display: flex
    justify-content: center
    align-items: center
    height: 100%
    ul
      li 
        float: none
        margin-bottom: $content-spacing/2
        display: block
        text-align: center
        a 
          color: #ffff
          font-size: 32px
  .close
    position: absolute
    z-index: 10000
    right: 1em
    top: 2em
  &.open
      opacity: 1

