@import "reset.scss"
@import "mixins.scss"
@import "icons"
@import "variables"
@import "fonts"

@import "accordion"
@import "nav"
@import "content"
@import "codepreview"
@import "articlebar"
@import '~svg-spritemap-webpack-plugin/iconmap.scss'

body 
    font-size: 16px
    background: #fff 


main 
    display: flex


.content
  width: 60%
  @include breakpoint(mobile tablet)
    width: 70%

.articlebar
  width: 20%

.sidebar 
  width: 20%
  min-width: $min-side
  max-width: 350px

.articlebar
  @include breakpoint(mobile tablet)
    display: none

footer 
  margin: 0 16.65%
  padding: 3% 0
  border-left: 1px solid #12BBF3
  border-right: 1px solid #12BBF3
  .footer-content
    border-top: 5px solid #FF8E0D
    padding: 3% 0
    margin: 0 6%
  p
    font-family: "Wavehaus-Book"
    font-size: 18px
    margin-bottom: 1em
    &.brand
      padding-top: 2em
      font-size: 13px

  a 
    color: #12BBF3
    &:hover, &:focus
        text-decoration: none