name: Content Build

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.x
          
      - name: Add private GitHub registry to NuGet
        run: dotnet nuget add source https://nuget.pkg.github.com/WildernessLabs/index.json --name "wildernesslabs" --username wildlingdev --password ${{ secrets.WILDLINGDEV_PAT }} --store-password-in-clear-text
      
      - name: Install Chloroplast
        run: |
          dotnet new tool-manifest
          dotnet tool install Chloroplast.Tool
        
      # Runs a set of commands using the runners shell
      - name: Build with Chloroplast
        run: |
          cd $GITHUB_WORKSPACE
          ls .
          dotnet chloroplast
          ls .

      # Installs node dependencies required to build front end
      - name: Install node dependencies
        run: |
          npm ci

      # Build Chloroplast frontend
      - name: Build Chloroplast frontend 
        run: |
          npm run build

      - name: Publish to Web
        uses: bacongobbler/azure-blob-storage-upload@v1.1.1
        with:
          source_dir: out
          container_name: $web
          connection_string: ${{ secrets.STORAGE_CONNECTION }}
          sync: true
